.mat-column-nombre {
    flex: 1 1 1em;
    min-width: 20em;
}
.mat-column-nombreCompleto {
    flex: 1 1 1em;
    min-width: 20em;
}
.mat-column-fechaCreacion {
    flex: 0 0 1em;
    min-width: 6em;
}
.mat-column-rut {
    flex: 1 0 1em;
    min-width: 10em;
}