<div class="pagina">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Ferreterías FERME</mat-card-title>
            <mat-card-subtitle>Sistema Web</mat-card-subtitle>
        </mat-card-header>
        <img src="logo.png" alt="Ferreterías FERME">
        <mat-card-content>
            <h3>Ingresa dando clic en una opción.</h3>
            <span class="contenedor"><a mat-raised-button color="primary" routerLink="/compra">Compra en Línea</a></span>
            <span class="contenedor"><a mat-raised-button color="warn" routerLink="/gestion">Gestión en Línea</a></span>
        </mat-card-content>
    </mat-card>
</div>