.pagina {
    background-color: #fafafa;
    display: grid;
    grid-auto-rows: 100vh;
    align-items: center;
    justify-items: center;
}
mat-card { 
    background-color: white; 
    width: 20rem; 
    height: 20rem;
}

mat-card * { 
    text-align: center;
}

mat-card-title { 
    height: 25%;
    margin: 0;
    color: black;
    vertical-align: middle;
    font-size: 32pt;
}

mat-card-content {  
    height: 75%; 
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

mat-card-content > .contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

mat-card-content > .contenedor > a.button {
    width: 12rem;
    height: 4rem;
    font-size: 18pt;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    border-radius: 0.3em;
    border-width: 0.2em;
}

mat-card-content > .contenedor > a.jellybean.button {
    border-color: #ca513e;
}

mat-card-content > .contenedor > a.green.button {
    border-color: #0c9c68;
}