<div class="pagina">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Ferreterías FERME</mat-card-title>
            <mat-card-subtitle>Sistema Web</mat-card-subtitle>
        </mat-card-header>
        <img src="assets/img/logo.png" alt="Ferreterías FERME">
        <mat-card-content>
            <span class="contenedor"><a mat-button mat-raised-button routerLink="/compra">Soy cliente</a></span>
            <span class="contenedor"><a mat-button mat-raised-button routerLink="/gestion">Soy empleado</a></span>
        </mat-card-content>
    </mat-card>
</div>
