<div class="full-height">

  <mat-spinner-centrado *ngIf="cargandoItems$ | async">
  </mat-spinner-centrado>

  <div class="contenedor" [hidden]="cargandoItems$ | async">
    <div class="pagina overflow">
      <table mat-table #tabla class="full-width" [dataSource]="items$">
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let cliente" class="left">
            {{cliente.nombre}}
          </td>
        </ng-container>
        <ng-container matColumnDef="rut">
          <th mat-header-cell *matHeaderCellDef> Rut </th>
          <td mat-cell *matCellDef="let cliente" class="left">
            {{cliente.rutPersona}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
        <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
      </table>
    </div>
  </div>

</div>
