<div class="full-height">
  <ng-template *ngIf="cargandoItems; else contenedorListado">
    <mat-spinner-centrado></mat-spinner-centrado>
  </ng-template>
  <ng-template #contenedorListado>
    <div class="full-height contenedor">
      <div class="pagina overflow">
        <app-usuarios-listado #listado 
          [Items]="items$ | async"
          [ocupado]="ocupado$ | async"
          (cargar)="onCargar()"
          (editar)="onClickEditar($event)"
          (borrar)="onClickBorrar($event)">
        </app-usuarios-listado>
      </div>
      <app-listado-acciones
        (agregar)="onClickAgregar()">
      </app-listado-acciones>
    </div>
  </ng-template>
</div>