<div class="full-height">
  <ng-container *ngIf="loading$ | async; then loading else proveedoresTable"></ng-container>

  <ng-template #loading>
    <app-centered-mat-spinner></app-centered-mat-spinner>
  </ng-template>

  <ng-template #proveedoresTable>
    <div class="full-height contenedor">
      <div class="pagina overflow">
        <app-proveedores-listado #listado 
          [Proveedores]="proveedores$ | async"
          [busy$]="busy$"
          (editar)="onClickEditarProveedor($event)"
          (borrar)="onClickBorrarProveedor($event)">
        </app-proveedores-listado>
      </div>
      <app-listado-acciones
        (agregar)="onClickAgregarProveedor()">
      </app-listado-acciones>
    </div>
  </ng-template>
</div>