<div class="pagina">
  <mat-card>
    <mat-card-title>Ingresar</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm"
        style="grid-template-areas:   
          'a' 
          'b'">
        <mat-form-field style="grid-area: a">
          <input matInput placeholder="Nombre de Usuario" formControlName="usuario" />
        </mat-form-field>

        <mat-form-field style="grid-area: b">
          <input matInput placeholder="Contraseña" formControlName="clave" />
        </mat-form-field>
      </form>

      <section>
        <ng-container *ngIf="(showSpinner$ | async); then loading; else acciones"></ng-container>
        <ng-template #loading>
          <div class="spinner-container">
            <mat-spinner></mat-spinner>
          </div>
        </ng-template>
          
        <ng-template #acciones>
          <div class="acciones">
            <button mat-raised-button color="primary" 
              [disabled]="loginForm.invalid"
              (click)="onClickAceptar()">
              Aceptar
            </button>

            <button mat-raised-button 
              [disabled]="loginForm.pristine"
              (click)="onClickAceptar()">
              Limpiar
            </button>

            <a mat-raised-button color="warn"
              routerLink="/">
              Volver
            </a>
          </div>
        </ng-template>
      </section>
    </mat-card-content>
  </mat-card>
</div>