<table mat-table #tabla class="full-width">
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let proveedor" class="left"> 
      {{proveedor.nombreCompletoPersona}}
    </td>
  </ng-container>
  <ng-container matColumnDef="rut">
    <th mat-header-cell *matHeaderCellDef> Rut </th>
    <td mat-cell *matCellDef="let proveedor" class="left"> 
      {{proveedor.rutPersona}}
    </td>
  </ng-container>
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let proveedor">
      <div class="acciones">
        <button mat-button mat-icon-button 
          color="primary" class="details"
          [disabled]="ocupado$ | async" 
          (click)="onClickEditar(proveedor)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button mat-icon-button 
          color="warn" class="delete"
          [disabled]="ocupado$ | async" 
          (click)="onClickBorrar(proveedor)">
          <mat-icon>delete</mat-icon>
        </button>
      </div> 
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
  <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
</table>