<h2 mat-dialog-title>{{ esNueva? 'Nueva' : 'Actualizar datos de' }} Orden de Compra</h2>
<mat-dialog-content>

  <mat-spinner-centrado *ngIf="cargando">
  </mat-spinner-centrado>

  <div [hidden]="cargando">
    <form [formGroup]="ordenCompraForm">

      <mat-form-field style="grid-area: a">
        <input matInput placeholder="Fecha de Solicitud" [ngModel]="fechaSolicitud"
          [ngModelOptions]="{ standalone: true }" disabled />
      </mat-form-field>

      <mat-form-field style="grid-area: b">
        <mat-select placeholder="Solicitante" formControlName="empleado">
          <mat-option *ngFor="let emp of (empleados$ | async)" [value]="emp.idEmpleado">
            {{ emp.nombreCompletoPersona }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="grid-area: c">
        <mat-select placeholder="Proveedor" formControlName="proveedor">
          <mat-option *ngFor="let prov of (proveedores$ | async)" [value]="prov.idProveedor">
            {{ prov.nombreCompletoPersona }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-card style="grid-area: d">
        <div class="cabecera">
          <h3>Productos Solicitados</h3>
          <button mat-button mat-raised-button color="primary" [disabled]="!proveedor.value"
            (click)="onClickAgregarProductos()">
            Agregar
          </button>
        </div>
        <mat-card-content>
          
          <div class="tabla-detalles">
            <table mat-table #tablaDetalles>
              <ng-container matColumnDef="producto">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let detalle" class="left">
                  {{detalle.nombreProducto}}
                </td>
              </ng-container>
              <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef> Precio </th>
                <td mat-cell *matCellDef="let detalle" class="left">
                  ${{detalle.precioProducto}}
                </td>
              </ng-container>
              <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let detalle; let i=index" class="left">
                  <div class="acciones">
                    <button mat-button mat-icon-button class="cantidad" [disabled]="ocupado$ | async"
                      (click)="onClickIncrementarCantidadProductoDetalle(i)">
                      <mat-icon>add</mat-icon>
                    </button>
                    <input matInput class="cantidadInput" type="number" min="1" [(ngModel)]="detalle.cantidadProducto"
                      [ngModelOptions]="{ standalone: true }" />
                    <button mat-button mat-icon-button class="cantidad"
                      [disabled]="(ocupado$ | async) || (detalle.cantidadProducto < 2)"
                      (click)="onClickReducirCantidadProductoDetalle(i)">
                      <mat-icon>remove</mat-icon>
                    </button>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let i=index">
                  <div class="acciones">
                    <button mat-button mat-icon-button color="warn" class="delete" [disabled]="ocupado$ | async"
                      (click)="onClickBorrarDetalle(i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
              <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
            </table>
          </div>

        </mat-card-content>
      </mat-card>

    </form>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="center">

  <button mat-button mat-raised-button color="primary" [disabled]="cargando || ordenCompraForm.invalid || guardando"
    (click)="onClickAceptar()">
    Aceptar
  </button>

  <button mat-button mat-raised-button [disabled]="guardando" (click)="onClickCancelar()">
    Cancelar
  </button>

</mat-dialog-actions>