* {
  font-family: 'Arial Narrow', Arial, sans-serif;
}

.contenedor {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.contenedor>.pagina {
  justify-self: flex-start;
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
}

app-listado-acciones {
  flex-grow: 0;
  height: 4em;
  display: flex;
  width: 100%;
  background: whitesmoke;
}