<section>
  <h2>{{ esNuevo? 'Nuevo' : 'Actualizar' }} Proveedor</h2>

  <ng-template *ngIf="(cargando$ | async) || !(cargos$ | async)">
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

  <form [formGroup]="proveedorForm" [hidden]="!(cargos$ | async)"
    style="grid-template-areas:   
      'a a a a a a' 
      'b b b c c c' 
      'd d d e e e' 
      'f f g g h h'">
    <mat-form-field style="grid-area: a">
      <input matInput placeholder="Nombre Completo" formControlName="nombre" />
    </mat-form-field>

    <mat-form-field style="grid-area: b">
      <input matInput placeholder="Rut" formControlName="rut" />
    </mat-form-field>

    <mat-form-field style="grid-area: c">
      <input matInput placeholder="Razón Social" formControlName="razonSocial" />
    </mat-form-field>

    <mat-form-field style="grid-area: d">
      <input matInput placeholder="Dirección" formControlName="direccion" />
    </mat-form-field>

    <mat-form-field style="grid-area: e">
      <input matInput placeholder="Email" formControlName="email" />
    </mat-form-field>

    <mat-form-field style="grid-area: f">
      <input matInput placeholder="Teléfono 1" formControlName="fono1" />
    </mat-form-field>

    <mat-form-field style="grid-area: g">
      <input matInput placeholder="Teléfono 2" formControlName="fono2" />
    </mat-form-field>

    <mat-form-field style="grid-area: h">
      <input matInput placeholder="Teléfono 3" formControlName="fono3" />
    </mat-form-field>
  </form>
    
  <div class="acciones">
    <button mat-button mat-raised-button color="primary" 
      [disabled]="proveedorForm.invalid"
      (click)="onClickAceptar()">
      Aceptar
    </button>

    <button mat-button mat-raised-button 
      (click)="onClickCancelar()">
      Cancelar
    </button>
  </div>
</section>