.contenedor {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

mat-sidenav-container {
    width: 100%;
    flex-grow: 1;
}

mat-sidenav {
    width: 12em;
    background: maroon;
    border-right: none;
}

.logo {
    background-color: darkred;
    padding: 0 1.5em 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    height: 2.75em;
    width: 2.75em;
}
mat-nav-list {
    padding: 0;
}
mat-nav-list > a mat-icon {
    margin-right: 1em;
}
mat-nav-list > a.active {
    background: darkred;
}

.logo,
.cabecera {
    height: 4em;
}
.logo,
mat-nav-list *,
.cabecera > * {
    color: white;
}


mat-sidenav-content {
    display: grid;
    grid-template-areas: "a";
    overflow: hidden;
}
.pagina {
    display: flex;
    flex-direction: column;
}
.cabecera {
    flex-grow: 0;
    background: maroon;
    display: flex;
    border-bottom: 1px #e0e0e06b solid;
}
.cabecera > * {
    display: flex;
    align-items: center;
}
.cabecera-contenido {
    flex-grow: 1;
    font-size: 1.25rem;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.cabecera-cerrar-sesion,
.cabecera-alternar-navegacion {
    border-radius: 0;
    flex-grow: 0;
    min-width: 5em;
    width: 5em;
    justify-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 0.75em 0.9em 0;
}
.cabecera-cerrar-sesion *,
.cabecera-alternar-navegacion * {
    font-size: 2.25rem;
    margin: 0;
}

.contenido {
    flex-grow: 1;
}

.pie {
    height: 2em;
    flex-grow: 0;
    background: whitesmoke;
    border-top: 1px #e0e0e06b solid;
    display: flex;
    align-items: center;
    justify-content: center;
}