.contenedor,
.cabecera,
.pie,
.cabecera > * {
    display: flex;
}

.contenedor {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.cabecera {
    height: 5em;
    flex-grow: 0;
    flex-shrink: 0;
    background: maroon;
    border-bottom: 1px #e0e0e06b solid;
    align-content: center;
}
mat-sidenav-container {
    flex-grow: 1;
    height: fit-content;
    flex-grow: 1;
}
.pie {
    height: 2em;
    flex-grow: 0;
    flex-shrink: 0;
    background: whitesmoke;
    border-top: 1px #e0e0e06b solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecera > *,
mat-nav-list * {
    color: white;
}

.cabecera > * {
    align-items: center;
}
.cabecera > .logo {
    background-color: darkred;
    padding: 0 1.5em 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecera > .logo img {
    height: 2.75em;
    width: 2.75em;
}

.cabecera-contenido {
    flex-grow: 1;
    font-size: 1.25rem;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.cabecera-alternar-navegacion,
.cabecera-cerrar-sesion {
    border-radius: 0;
    flex-grow: 0;
    min-width: 5em;
    width: 5em;
    justify-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 0.75em 0.9em 0;
}
.cabecera-alternar-navegacion *,
.cabecera-cerrar-sesion * {
    font-size: 2.25rem;
    margin: 0;
}


mat-sidenav {
    width: 16em;
    background: maroon;
    border-right: none;
}
mat-nav-list {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    height: 100%;
}
mat-nav-list > a.mat-list-item {
    font-size: 1.25rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
mat-nav-list mat-icon {
    font-size: 2.5rem;
    width: 1.5em;
    height: 1em;
}
mat-nav-list > a.active {
    background: darkred;
    border-top: 1px rgba(255, 255, 255, 0.1) solid;
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
}