<div class="contenedor">
  <div class="cabecera">
    <button mat-button color="warn"
      class="cabecera-alternar-navegacion"
      title="Alternar menú lateral"
      (click)="sidenavOpened = !sidenavOpened">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="logo">
      <img src="logo.png" alt="FERME">
      <h1>FERME</h1>
    </div>
    <div class="cabecera-contenido">  
      <span>{{ (nombreModulo$ | async) }}</span>
      <span>{{ usuarioNombre }}</span>
    </div>
    <button mat-button color="warn" 
      class="cabecera-cerrar-sesion"
      title="Salir"
      (click)="onClickCerrarSesion()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
  <mat-sidenav-container>
    <mat-sidenav [opened]="sidenavOpened" mode="side" role="navigation">
      <mat-nav-list role="navigation-links">
        <a mat-list-item *ngFor="let modulo of modulos; let i = index"
          (click)="onClickNavegar(i)"
          [class.active]="modulo.activo"
          [routerLink]="['/gestion', modulo.path]">
          <mat-icon>{{ modulo.icono }}</mat-icon>
          <span class="enlace-texto">{{ modulo.texto }}</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content role="main">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="pie">
    <span>FERME 2019 - Todos los derechos reservados.</span>
  </div>
</div>