h2 {
  flex: 0 0 2em;
  margin-top: 0;
}

form {
  grid-template-areas: 'a b' 'c c' 'd d' 'e e';
}

@media(min-width: 768px) {
  form {
    grid-template-areas: 'a c c c c' 'b d d d d' 'e e e e e';
  }
}

form, .resumen-venta {
  margin: 1em 0;
}

mat-card>.cabecera {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.tabla-detalles {
  overflow-y: auto;
  height: 12em;
}

table .mat-column-cantidad>.acciones {
  align-items: center;
  align-content: stretch;
}

table .mat-column-acciones {
  flex: 0 0 8em;
  padding: 0px !important;
  width: 3em;
  max-width: 3em;
}

td>.acciones {
  padding: 0.1em !important;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: stretch;
}

td>.acciones>button {
  padding: 0 0.2em;
  min-width: 2em !important;
}

.resumen-venta {
  border: 1px solid #ddd;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3em;
  justify-items: stretch;
  text-align: center;
  align-items: center;
  padding: 0.2em;
}