<div class="full-height">
  <ng-container 
    *ngIf="loading$ | async; 
    then loading; 
    else productosTable">
  </ng-container>

  <ng-template #loading>
    <mat-spinner-centrado></mat-spinner-centrado>
  </ng-template>

  <ng-template #productosTable>
    <div class="full-height contenedor">
      <div class="pagina overflow">
        <app-productos-listado #listado 
          [Items]="productos$ | async"
          [Busy]="busy$ | async"
          (editar)="onClickEditar($event)"
          (borrar)="onClickBorrar($event)">
        </app-productos-listado>
      </div>
      <app-listado-acciones
        (agregar)="onClickAgregar()">
      </app-listado-acciones>
    </div>
  </ng-template>
</div>