<div class="pagina">
  <div class="cabecera">
    <div class="logo">
      <img src="logo.png" alt="FERME">
      <h1>FERME</h1>
    </div>
    <div class="cabecera-acciones">
      <a mat-button color="warn" 
        title="Catálogo"
        [routerLink]="['/compra', 'catalogo']">
        <mat-icon>dashboard</mat-icon>
      </a>
      <ng-container 
        *ngIf="(mostrarResumen$ | async);
          then ventaEnProgreso; 
          else ventaNoEnProgreso">
      </ng-container>
      <ng-template #ventaEnProgreso>
        <a mat-button color="warn" title="Carrito" 
          [routerLink]="['/compra', 'resumen']">
          <mat-icon>shopping_cart</mat-icon>
          <span class="resumen">
            <span>{{ cantidadItems + ' item' + (cantidadItems > 1? 's':'') }}</span>
            <span>${{ subtotalVentaActual }}</span>
          </span>
        </a>
      </ng-template>
      <ng-template #ventaNoEnProgreso>
        <a mat-button color="warn">
          <mat-icon>shopping_cart</mat-icon>
        </a>
      </ng-template>
    </div>
    <div class="cabecera-espacio">
      <h1>Compra En Línea</h1>
    </div>
    <div class="cabecera-acciones">
      <ng-container
        *ngIf="estaAutenticado;
          then cerrarSesion;
          else abrirSesion">
      </ng-container>
      <ng-template #cerrarSesion>
        <button mat-button color="warn" 
          title="Cerrar Sesión"
          (click)="onClickCerrarSesion()">
          <span>{{ usuarioNombre }}</span>
          <mat-icon>cancel</mat-icon>
        </button>
      </ng-template>
      <ng-template #abrirSesion>
        <button mat-button color="warn" 
          title="Iniciar Sesión"
          (click)="onClickAbrirSesion()">
          <span>{{ usuarioNombre }}</span>
          <mat-icon>person_outline</mat-icon>
        </button>
      </ng-template>

      <a mat-button color="warn" 
        title="Salir"
        routerLink="/">
        <mat-icon>exit_to_app</mat-icon>
      </a>
    </div>
  </div>
  <div class="contenido overflow-y">
    <router-outlet></router-outlet>
  </div>
  <div class="pie">
    <span>FERME 2019 - Todos los derechos reservados.</span>
  </div>
</div>