.pagina {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.pagina > .cabecera {
    height: 4em;
    flex-grow: 0;
    flex-shrink: 0;
    background: maroon;
    display: flex;
    border-bottom: 1px #e0e0e06b solid;
}

.cabecera * {
    color: white;
}

.cabecera > * {
    display: flex;
    align-items: center;
}
.cabecera > .logo {
    width: 12em;
    background-color: darkred;
    padding: 0 1.5em 0 1em;
    justify-content: space-between;
    align-items: center;
}
.logo > img {
    height: 2.75em;
    width: 2.75em;
}


.cabecera > .cabecera-espacio {
    flex-grow: 1;
}
.cabecera > .cabecera-acciones {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
    width: fit-content;
}
.cabecera-acciones > * {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cabecera-acciones > a.active {
    background: darkred;
    border-top: 1px rgba(0, 0, 0, 0.5) solid;
    border-bottom: 1px rgba(0, 0, 0, 0.5) solid;
}
.cabecera-acciones > button mat-icon {
    margin-left: 1em;
}

.pagina > .contenido {
    flex-grow: 1;
    flex-shrink: 1;
}

.pagina > .pie {
    height: 2em;
    flex-grow: 0;
    flex-shrink: 0;
    background: whitesmoke;
    border-top: 1px #e0e0e06b solid;
    display: flex;
    align-items: center;
    justify-content: center;
}