.cabecera .resumen {
  padding: 0.5em 1em;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cabecera>.cabecera-espacio {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.cabecera-acciones>a.active {
  background: darkred;
  border-top: 1px rgba(0, 0, 0, 0.5) solid;
  border-bottom: 1px rgba(0, 0, 0, 0.5) solid;
}

.contenido {
  flex: 1 1 15em;
}