.pagina {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.pagina > .cabecera {
    height: 4em;
    flex-grow: 0;
    flex-shrink: 0;
    background: maroon;
    display: flex;
    border-bottom: 1px #e0e0e06b solid;
}

.cabecera * {
    color: white;
}

.cabecera > * {
    display: flex;
    align-items: center;
}
.cabecera > .logo {
    width: 12em;
    background-color: darkred;
    padding: 0 1.5em 0 1em;
    justify-content: space-between;
    align-items: center;
}
.logo > img {
    height: 2.75em;
    width: 2.75em;
}


.cabecera > .cabecera-contenido {
    flex-grow: 1;
    font-size: 1.25rem;
    padding: 1em;
    justify-content: space-between;
}
.cabecera > .cabecera-cerrar-sesion,
.cabecera > .cabecera-alternar-navegacion {
    border-radius: 0;
    flex-grow: 0;
    min-width: 5em;
    width: 5em;
    justify-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 0.75em 0.9em 0;
}
.cabecera-cerrar-sesion *,
.cabecera-alternar-navegacion * {
    font-size: 2.25rem;
    margin: 0;
}

.pagina > .contenido {
    flex-grow: 1;
    flex-shrink: 1;
}

.pagina > .pie {
    height: 2em;
    flex-grow: 0;
    flex-shrink: 0;
    background: whitesmoke;
    border-top: 1px #e0e0e06b solid;
    display: flex;
    align-items: center;
    justify-content: center;
}