<section>
  <h2>{{ esNueva? 'Nueva' : 'Actualizar datos de' }} Orden de Compra</h2>

  <ng-template *ngIf="(showSpinner$ | async) || !((empleados$ | async) && (clientes$ | async))">
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

  <form [formGroup]="ordenCompraForm" [hidden]="!((empleados$ | async) && (clientes$ | async))"
    style="grid-template-areas:   
      'a b' 
      'c c' 
      'e e'">
    <mat-form-field style="grid-area: a">
      <mat-select placeholder="Empleado" 
        formControlName="empleado">
        <mat-option *ngFor="let emp of (empleados$ | async)" 
          [value]="emp.idEmpleado">
          {{ emp.nombreCompletoPersona }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="grid-area: b">
      <input matInput placeholder="Fecha de Solicitud" 
        [ngModel]="fechaOrdenCompra" [ngModelOptions]="{ standalone: true }"
        disabled />
    </mat-form-field>

    <mat-form-field style="grid-area: c">
      <mat-select placeholder="Cliente" 
        formControlName="cliente">
        <mat-option *ngFor="let cliente of (clientes$ | async)" 
          [value]="cliente.idCliente">
          {{ cliente.nombreCompletoPersona }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-card style="grid-area: e">
      <mat-card-content class="productos">
        <div class="cabecera">
          <h3>Productos de esta Venta</h3>
          <button mat-raised-button color="primary"
            (click)="onClickAgregarProductos()">
            Agregar
          </button>
        </div>
        <div class="tabla-detalles overflow-y" style="height: 15em">
          <table mat-table #tablaDetalles [dataSource]="detallesVenta$ || async">
            <ng-container matColumnDef="producto">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let detalle" class="left"> 
                {{detalle.nombreProducto}}
              </td>
            </ng-container>
            <ng-container matColumnDef="precio">
              <th mat-header-cell *matHeaderCellDef> Precio </th>
              <td mat-cell *matCellDef="let detalle" class="left"> 
                ${{detalle.precioProducto}}
              </td>
            </ng-container>
            <ng-container matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef> Cantidad </th>
              <td mat-cell *matCellDef="let detalle; let i=index" class="left"> 
                <div class="acciones">
                  <button mat-button mat-icon-button class="cantidad"
                    [disabled]="busy$ | async" 
                    (click)="onClickIncrementarCantidadProductoDetalle(i)">
                    <mat-icon>add</mat-icon>
                  </button>
                  {{detalle.unidadesProducto}}
                  <button mat-button mat-icon-button class="cantidad"
                    [disabled]="(busy$ | async) || (detalle.unidadesProducto < 2)" 
                    (click)="onClickReducirCantidadProductoDetalle(i)">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let i=index">
                <div class="acciones">
                  <button mat-button mat-icon-button color="warn" class="delete"
                    [disabled]="busy$ | async" 
                    (click)="onClickBorrarDetalle(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div> 
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
    
  <div style="margin-top: 1em" class="acciones">
    <button mat-raised-button color="primary" 
      [disabled]="ordenCompraForm.invalid"
      (click)="onClickAceptar()">
      Aceptar
    </button>

    <button mat-raised-button 
      (click)="onClickCancelar()">
      Cancelar
    </button>
  </div>
</section>