section {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: stretch;
}

h2 {
    margin: 1em;
}

app-filtros-productos,
.catalogo {
    padding: 1em;
}

app-filtros-productos {
    flex-grow: 0;
    flex-shrink: 1;
}

.catalogo {
    background: whitesmoke;
    flex-grow: 1;
    flex-shrink: 1;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-auto-rows: 12em;
    overflow-x: hidden;
    overflow-y: auto;
}

mat-card-header {
    height: 6em;
}
mat-card-actions {
    text-align: right;
}
mat-card-actions > button {
    margin-left: 1em;
}