<section>
  <h2>Catálogo de Productos</h2>
  <app-filtros-productos 
    (filtrosChange)="onFiltrosChange($event)">
  </app-filtros-productos>
  <div class="catalogo">
    <ng-container 
      *ngIf="loading$ | async; 
      then loading; 
      else productosGrid">
    </ng-container>
  
    <ng-template #loading>
      <mat-spinner-centrado></mat-spinner-centrado>
    </ng-template>

    <ng-template #productosGrid>
      <mat-card *ngFor="let producto of (productos$ | async)">
        <mat-card-header>
          <mat-card-title>{{ producto.nombreProducto }}</mat-card-title>
          <mat-card-subtitle>{{ producto.codigoProducto }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{ producto.descripcionProducto }}
        </mat-card-content>
        <mat-card-actions>
          <span>Precio: ${{ producto.precioProducto }}</span>
          <button mat-icon-button color="primary"
            (click)="onClickAgregarProducto(producto)">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-template>
  </div>
</section>