<section>
  <h2>Catálogo de Productos</h2>
  <app-filtros-productos-panel (filtrosChange)="onFiltrosChange($event)">
  </app-filtros-productos-panel>

  <mat-spinner-centrado *ngIf="cargando">
  </mat-spinner-centrado>

  <div class="catalogo" [hidden]="cargando">
    <mat-card *ngFor="let producto of (productos$ | async)">
      <mat-card-header>
        <mat-card-title>{{ producto.nombre }}</mat-card-title>
        <mat-card-subtitle>{{ producto.codigoProducto }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{ producto.descripcion }}
      </mat-card-content>
      <mat-card-actions>
        <span>Precio: ${{ producto.precioProducto }}</span>
        <button mat-icon-button color="primary" (click)="onClickAgregarProducto(producto)">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
