.contenedor {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(40em, 1fr));
    height: 18rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.contenedor > * {
    width: 100%;
    object-fit: cover;
}

h2 {
    margin-top: 0;
}

form {
    display: grid;
    grid-gap: 1em;
}
.formulario {
    display: grid;
    grid-gap: 0.25em;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

.productos {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
    justify-content: center;
    margin-bottom: 1em;
}

.productos > .cabecera {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

table {
    width: 100%;
}

.mat-column-cantidad > .acciones {
    align-items: center;
    align-content: stretch;
}
.mat-column-acciones {
    flex: 0 0 8em;
    padding: 0px !important;
    width: 3em;
    max-width: 3em;
}

td > .acciones {
    padding: 0.1em !important;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: stretch;
}
td > .acciones > button {
    padding: 0 0.2em;
    min-width: 2em !important;
}

.resumen {
    margin: 1em 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.resumen > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}