<section>
  <h2>{{ esNueva? 'Nueva' : 'Actualizar datos de' }} Venta</h2>

  <ng-template *ngIf="(showSpinner$ | async) || !((empleados$ | async) && (clientes$ | async))">
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

  <form [formGroup]="ventaForm" [hidden]="!((empleados$ | async) && (clientes$ | async))"
    style="grid-template-areas:   
      'a a a b b b' 
      'c c c d d d' 
      'e e e e e e'">
    <mat-form-field style="grid-area: a">
      <mat-select placeholder="Tipo de Venta" 
        formControlName="tipo">
        <mat-option *ngFor="let tipo of (tipos$ | async)" 
          [value]="tipo.codigo">
          {{ tipo.descripcion }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="grid-area: b">
      <input matInput placeholder="Fecha" 
        [ngModel]="fechaVenta" [ngModelOptions]="{ standalone: true }"
        disabled />
    </mat-form-field>

    <mat-form-field style="grid-area: c">
      <mat-select placeholder="Vendedor" 
        formControlName="empleado">
        <mat-option *ngFor="let empleado of (empleados$ | async)" 
          [value]="empleado.idEmpleado">
          {{ empleado.nombreCompletoPersona }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="grid-area: d">
      <mat-select placeholder="Cliente" 
        formControlName="cliente">
        <mat-option *ngFor="let cliente of (clientes$ | async)" 
          [value]="cliente.idCliente">
          {{ cliente.nombreCompletoPersona }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="productos" style="grid-area: e">
      <div class="cabecera">
        <h3>Productos de esta Venta </h3>
        <button mat-raised-button color="primary"
          (click)="onClickAgregarProductos()">
          Agregar
        </button>
      </div>
      <div class="overflow-y" style="height: 10em">
        <table mat-table #tablaDetalles>
          <ng-container matColumnDef="producto">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let detalle" class="left"> 
              {{detalle.nombreProducto}}
            </td>
          </ng-container>
          <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef> Precio </th>
            <td mat-cell *matCellDef="let detalle" class="left"> 
              ${{detalle.precioProducto}}
            </td>
          </ng-container>
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let i=index" class="left"> 
              <div class="acciones">
                <button mat-icon-button class="cantidad"
                  [disabled]="busy$ | async" 
                  (click)="onClickIncrementarCantidadProducto(i)">
                  <mat-icon>add</mat-icon>
                </button>
                {{detalle.unidadesProducto}}
                <button mat-icon-button class="cantidad"
                  [disabled]="busy$ | async" 
                  (click)="onClickReducirCantidadProducto(i)">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let detalle">
              <div class="acciones">
                <button mat-icon-button color="warn" class="delete"
                  [disabled]="busy$ | async" 
                  (click)="onClickBorrarDetalle(detalle)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div> 
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </form>
    
  <div class="acciones">
    <button mat-raised-button color="primary" 
      [disabled]="ventaForm.invalid"
      (click)="onClickAceptar()">
      Aceptar
    </button>

    <button mat-raised-button 
      (click)="onClickCancelar()">
      Cancelar
    </button>
  </div>
</section>