<div class="full-height">
  <ng-container 
    *ngIf="loading$ | async; 
    then loading; 
    else proveedoresTable">
  </ng-container>

  <ng-template #loading>
    <app-centered-mat-spinner></app-centered-mat-spinner>
  </ng-template>

  <ng-template #proveedoresTable>
    <div class="full-height contenedor">
      <div class="pagina overflow">
        <app-proveedores-listado #listado 
          [Items]="proveedores$ | async"
          [Busy]="busy$ | async"
          (editar)="onClickEditar($event)"
          (borrar)="onClickBorrar($event)">
        </app-proveedores-listado>
      </div>
      <app-listado-acciones
        (agregar)="onClickAgregar()">
      </app-listado-acciones>
    </div>
  </ng-template>
</div>