<div class="contenedor">
  <div class="cabecera">
    <div class="logo">
      <img src="assets/img/logo.png" alt="FERME">
      <h1>FERME</h1>
    </div>
    <div class="cabecera-acciones">
      <a mat-button color="warn" title="Catálogo" [routerLink]="['/compra', 'catalogo']">
        <mat-icon>dashboard</mat-icon>
      </a>
      <ng-container *ngIf="mostrarResumen">
        <a mat-button color="warn" title="Carrito" [routerLink]="['/compra', 'resumen']">
          <mat-icon>shopping_cart</mat-icon>
          <span class="resumen">
            <span>{{ cantidadItems + ' item' + (cantidadItems > 1? 's':'') }}</span>
            <span>${{ subtotalVentaActual }}</span>
          </span>
        </a>
      </ng-container>
    </div>
    <div class="cabecera-contenido">
      <span>Compra En Línea</span>
    </div>
    <div class="cabecera-acciones">
      <ng-container *ngIf="estaAutenticado;
          then cerrarSesion;
          else abrirSesion">
      </ng-container>
      <ng-template #cerrarSesion>
        <mat-menu #menuCabecera class="cabecera-menu">
          <span mat-menu-item disabled>{{ usuarioNombre }}</span>
          <button mat-menu-item class="cabecera-editar-usuario" (click)="onClickEditarUsuario()">
            <mat-icon>edit</mat-icon>
            Editar Perfil
          </button>
          <button mat-menu-item class="cabecera-cerrar-sesion" (click)="onClickCerrarSesion()">
            <mat-icon>exit_to_app</mat-icon>
            Cerrar sesion
          </button>
        </mat-menu>
        <button mat-button class="cabecera-abrir-menu" [matMenuTriggerFor]="menuCabecera">
          <mat-icon>person</mat-icon>
        </button>
      </ng-template>
      <ng-template #abrirSesion>
        <button mat-button class="cabecera-abrir-sesion" title="Abrir sesion" (click)="onClickAbrirSesion()">
          <mat-icon>person_outline</mat-icon>
        </button>
      </ng-template>
      <a mat-button color="warn" title="Salir" routerLink="/">
        <mat-icon>exit_to_app</mat-icon>
      </a>
    </div>
  </div>
  <div class="contenido">
    <router-outlet></router-outlet>
  </div>
  <div class="pie">
    <span>FERME 2019 - Todos los derechos reservados.</span>
  </div>
</div>
