<div class="full-height">
  <ng-container }
    *ngIf="loading$ | async; 
    then loading; 
    else ordenesCompraTable">
  </ng-container>

  <ng-template #loading>
    <app-centered-mat-spinner></app-centered-mat-spinner>
  </ng-template>

  <ng-template #ordenesCompraTable>
    <div class="full-height contenedor">
      <div class="pagina overflow">
        <app-ordenes-compra-listado #listado 
          [Items]="ordenesCompra$ | async"
          [Busy]="busy$ | async"
          (editar)="onClickEditar($event)"
          (borrar)="onClickBorrar($event)">
        </app-ordenes-compra-listado>
      </div>
      <app-listado-acciones
        (agregar)="onClickAgregar()">
      </app-listado-acciones>
    </div>
  </ng-template>
</div>