/* Códigos de colores básicos obtenidos de proyecto crayon.css */

.button.jellybean { background-color: #da614e; color: white; }
.button.jellybean:hover { background-color: #ca513e; }

.button.green { background-color: #1cac78; color: white; }
.button.green:hover { background-color: #0c9c68; }


.button.jasper { background-color: #d05340; }
.button.orangesoda { background-color: #fa5b3d; }
.button.blastoffbronze { background-color: #a57164; }
.button.vividtangerine { background-color: #ffa089; }
.button.burntsienna { background-color: #ea7e5d; }
.button.brown { background-color: #b4674d; }
.button.smokeytopaz { background-color: #832a0d; }
.button.silver { background-color: #cdc5c2; }
.button.smashedpumpkin { background-color: #ff6d3a; }
.button.copper { background-color: #dd9475; }
.button.sepia { background-color: #a5694f; }
.button.mandarinpearl { background-color: #f37a48; }
.button.burntorange { background-color: #ff7f49; }
.button.orange { background-color: #ff7538; }
.button.brownsugar { background-color: #af6e4d; }
.button.mangotango { background-color: #ff8243; }
.button.citrine { background-color: #933709; }
.button.atomictangerine { background-color: #ffa474 }
.button.beaver { background-color: #9f8170; }
.button.antiquebrass { background-color: #cd9575; }
.button.chocolate { background-color: #bd8260; }
.button.bigfootfeet { background-color: #e88e5a; }
.button.desertsand { background-color: #efcdb8; }
.button.tumbleweed { background-color: #deaa88; }
.button.rawsienna { background-color: #d68a59; }
.button.tan { background-color: #faa76c; }
.button.peach { background-color: #ffcfab; }
.button.macaronicheese { background-color: #ffbd88; }
.button.alloyorange { background-color: #c46210; }
.button.lumber { background-color: #ffe4cd; }
.button.dirt { background-color: #9b7653; }
.button.heatwave { background-color: #ff7a00; }
.button.almond { background-color: #efdecd; }
.button.apricot { background-color: #fdd9b5; }
.button.rawumber { background-color: #714b23; }
.button.neoncarrot { background-color: #ffa343; }
.button.tigerseye { background-color: #b56917; }
.button.timberwolf { background-color: #dbd7d2; }
.button.gray { background-color: #95918c; }
.button.gold { background-color: #e7c697; }
.button.yelloworange { background-color: #ffb653; }
.button.shadow { background-color: #8a795d; }
.button.brightyellow { background-color: #ffaa1d; }
.button.aztecgold { background-color: #c39953; }
.button.maize { background-color: #edd19c; }
.button.sunsetpearl { background-color: #f1cc79; }
.button.bananamania { background-color: #fae7b5; }
.button.goldfusion { background-color: #85754e; }
.button.goldenrod { background-color: #fcd975; }
.button.sunglow { background-color: #ffcf48; }
.button.orangeyellow { background-color: #f8d568; }
.button.dandelion { background-color: #fddb6d; }
.button.banana { background-color: #ffd12a; }
.button.yellow { background-color: #fce883; }
.button.gargoylegas { background-color: #ffdf46; }
.button.sizzlingsunrise { background-color: #ffdb00 }
.button.mistymoss { background-color: #bbb477; }
.button.greenyellow { background-color: #f0e891; }
.button.lemonyellow { background-color: #fff44f; }
.button.springgreen { background-color: #eceabe; }
.button.olivegreen { background-color: #bab86c; }
.button.yellowsunshine { background-color: #fff700; }
.button.babypowder { background-color: #fefefa; }
.button.canary { background-color: #ffff99; }
.button.sunnypearl { background-color: #f2f27a; }
.button.unmellowyellow { background-color: #ffff66; }
.button.lemon { background-color: #ffff38; }
.button.daffodil { background-color: #ffff31; }
.button.laserlemon { background-color: #fefe22; }
.button.lemonglacier { background-color: #fdff00; }
.button.peridot { background-color: #abad48; }
.button.boogerbuster { background-color: #dde26a; }
.button.keylimepearl { background-color: #e8f48c; }
.button.electriclime { background-color: #ceff1d; }
.button.lime { background-color: #b2f302; }
.button.yellowgreen { background-color: #c5e384; }
.button.sheengreen { background-color: #8fd400; }
.button.inchworm { background-color: #b2ec5d; }
.button.greenlizard { background-color: #a7f432; }
.button.alienarmpit { background-color: #84de02; }
.button.asparagus { background-color: #87a96b; }
.button.springfrost { background-color: #87ff2a; }
.button.slimygreen { background-color: #299617; }
.button.screamingreen { background-color: #76ff7a; }
.button.fern { background-color: #71bc78; }
.button.mummystomb { background-color: #828e84; }
.button.smoke { background-color: #738276; }
.button.leatherjacket { background-color: #253529; }
.button.forestgreen { background-color: #6dae81; }
.button.shinyshamrock { background-color: #5fa778; }
.button.seagreen { background-color: #9fe2bf; }
.button.magicmint { background-color: #aaf0d1; }
.button.pine { background-color: #45a27d; }
.button.oceangreenpearl { background-color: #48bf91 }
.button.shamrock { background-color: #45cea2; }
.button.eucalyptus { background-color: #44d7a8; }
.button.mountainmeadow { background-color: #30ba8f; }
.button.junglegreen { background-color: #3bb08f; }
.button.jade { background-color: #469a84; }
.button.caribbeangreen { background-color: #1cd3a2; }
.button.polishedpine { background-color: #5da493; }
.button.emerald { background-color: #14a989; }
.button.greensheen { background-color: #6eaea1; }
.button.tropicalrainforest { background-color: #178 }
.button.pinegreen { background-color: #158078; }
.button.robinseggblue { background-color: #1fcecb; }
.button.steelteal { background-color: #5f8a8b; }
.button.malachite { background-color: #469496; }
.button.aquamarine { background-color: #78dbe2; }
.button.seaserpent { background-color: #4bc7cf; }
.button.turquoiseblue { background-color: #77dde7; }
.button.tealblue { background-color: #18a7b5; }
.button.metallicseaweed { background-color: #0a7e8c }
.button.blizzardblue { background-color: #ace5ee; }
.button.turquoisepearl { background-color: #3bbcd0; }
.button.skyblue { background-color: #80daeb; }
.button.outerspace { background-color: #414a4c; }
.button.moonstone { background-color: #3aa8c1; }
.button.pacificblue { background-color: #1ca9c9; }
.button.bluegreen { background-color: #0d98ba; }
.button.aquapearl { background-color: #5fbed7; }
.button.cerulean { background-color: #1dacd6; }
.button.onyx { background-color: #353839; }
.button.steelblue { background-color: #0081ab; }
.button.freshair { background-color: #a6e7ff; }
.button.winterwizard { background-color: #a0e6ff; }
.button.pewterblue { background-color: #8ba8b7; }
.button.cornflower { background-color: #9aceeb; }
.button.bluejeans { background-color: #5dadec; }
.button.ceruleanfrost { background-color: #6d9bc3; }
.button.blackcoralpearl { background-color: #54626f }
.button.greenblue { background-color: #1164b4; }
.button.bluegray { background-color: #6699cc; }
.button.midnightblue { background-color: #1a4876; }
.button.navyblue { background-color: #1974d2; }
.button.shadowblue { background-color: #778ba5; }
.button.bdazzledblue { background-color: #2e5894; }
.button.sapphire { background-color: #2d5da1; }
.button.denim { background-color: #2b6cc4; }
.button.blue { background-color: #1f75fe; }
.button.absolutezero { background-color: #0048ba; }
.button.lapislazuli { background-color: #436cb9; }
.button.periwinkle { background-color: #c5d0e6; }
.button.blueberry { background-color: #4f86f7; }
.button.cadetblue { background-color: #b0b7c6; }
.button.newcar { background-color: #214fc6; }
.button.wildblueyonder { background-color: #a2add0; }
.button.indigo { background-color: #5d76cb; }
.button.denimblue { background-color: #2243b6; }
.button.violetblue { background-color: #324ab2; }
.button.manatee { background-color: #979aaa; }
.button.bluebell { background-color: #a2a2d0; }
.button.cosmiccobalt { background-color: #2e2d88; }
.button.amethyst { background-color: #64609a; }
.button.oceanbluepearl { background-color: #4f42b5; }
.button.soap { background-color: #cec8ef; }
.button.blueviolet { background-color: #7366bd; }
.button.plumppurple { background-color: #5946b2; }
.button.pixiepowder { background-color: #391285; }
.button.purpleheart { background-color: #7442c8; }
.button.cybergrape { background-color: #58427c; }
.button.royalpurple { background-color: #7851a9; }
.button.grape { background-color: #6f2da8; }
.button.violetpurple { background-color: #926eae; }
.button.wisteria { background-color: #cda4de; }
.button.glossygrape { background-color: #ab92b3; }
.button.purpleplum { background-color: #9c51b6; }
.button.lilac { background-color: #db91ef; }
.button.vividviolet { background-color: #8f509d; }
.button.fuchsia { background-color: #c364c5; }
.button.shockingpink { background-color: #fb7efd; }
.button.pinkflamingo { background-color: #fc74fd; }
.button.midnightpearl { background-color: #702670; }
.button.plum { background-color: #8e4585; }
.button.razzmicberry { background-color: #8d4e85; }
.button.bubblegum { background-color: #ffd3f8; }
.button.lilacluster { background-color: #ae98aa; }
.button.purplepizzazz { background-color: #fe4eda; }
.button.hotmagenta { background-color: #ff1dce; }
.button.orchid { background-color: #e6a8d7; }
.button.pearlypurple { background-color: #b768a2; }
.button.shampoo { background-color: #ffcff1; }
.button.rosequartz { background-color: #bd559c; }
.button.thistle { background-color: #ebc7df; }
.button.frostbite { background-color: #e936a7; }
.button.princessperfume { background-color: #ff85cf }
.button.redviolet { background-color: #c0448f; }
.button.sugarplum { background-color: #914e75; }
.button.mulberry { background-color: #c54b8c; }
.button.eggplant { background-color: #6e5160; }
.button.magenta { background-color: #f664af; }
.button.mysticmaroon { background-color: #ad4379; }
.button.cerise { background-color: #dd4492; }
.button.wildstrawberry { background-color: #ff43a4; }
.button.wintersky { background-color: #ff007c; }
.button.lavender { background-color: #fcb4d5; }
.button.cottoncandy { background-color: #ffbcd9; }
.button.carnationpink { background-color: #ffaacc; }
.button.orchidpearl { background-color: #7b4259; }
.button.violetred { background-color: #f75394; }
.button.ruby { background-color: #aa4069; }
.button.mysticpearl { background-color: #d65282; }
.button.razzmatazz { background-color: #e3256b; }
.button.jazzberryjam { background-color: #ca3767; }
.button.strawberry { background-color: #fc5a8d; }
.button.sasquatchsocks { background-color: #ff4681; }
.button.ticklemepink { background-color: #fc89ac; }
.button.blush { background-color: #de5d83; }
.button.piggypink { background-color: #fddde6; }
.button.cinnamonsatin { background-color: #cd607e; }
.button.rosedust { background-color: #9e5e6f; }
.button.pinkpearl { background-color: #b07080; }
.button.bigdiporuby { background-color: #9c2542; }
.button.rosepearl { background-color: #f03865; }
.button.pinksherbert { background-color: #f78fa7; }
.button.maroon { background-color: #c8385a; }
.button.dingydungeon { background-color: #c53151; }
.button.red { background-color: #ee204d; }
.button.mauvelous { background-color: #ef98aa; }
.button.radicalred { background-color: #ff496c; }
.button.blackshadows { background-color: #bfafb2; }
.button.shimmeringblush { background-color: #d98695 }
.button.magicpotion { background-color: #ff4466; }
.button.cherry { background-color: #da2647; }
.button.wildwatermelon { background-color: #fc6c85; }
.button.fieryrose { background-color: #ff5470; }
.button.salmon { background-color: #ff9baa; }
.button.sizzlingred { background-color: #ff3855; }
.button.scarlet { background-color: #fc2847; }
.button.brickred { background-color: #cb4154; }
.button.rustyred { background-color: #da2c43; }
.button.redsalsa { background-color: #fd3a4a; }
.button.sunburntcyclops { background-color: #ff404c }
.button.tulip { background-color: #ff878d; }
.button.salmonpearl { background-color: #f1444a; }
.button.bittersweetshimmer { background-color: #bf4 }
.button.mahogany { background-color: #cd4a4c; }