<div class="full-height">

  <mat-spinner-centrado *ngIf="cargandoItems">
  </mat-spinner-centrado>

  <div class="contenedor" [hidden]="cargandoItems">
    <div class="pagina overflow">
      <app-listado-usuarios-gestion #listado
        [Items]="items$ | async"
        [ocupado]="ocupado$ | async"
        (cargar)="onCargar()"
        (editar)="onClickEditar($event)"
        (borrar)="onClickBorrar($event)">
      </app-listado-usuarios-gestion>
    </div>
    <app-listado-acciones
      (agregar)="onClickAgregar()">
    </app-listado-acciones>
  </div>

</div>
