<div class="contenedor">
  <mat-sidenav-container>
    <mat-sidenav opened mode="side" role="navigation">
      <mat-nav-list role="navigation-links">
        <a mat-list-item
          *ngFor="let modulo of modulos"
          [routerLink]="['/gestion', modulo.path]">
          <mat-icon>{{ modulo.icono }}</mat-icon>
          {{ modulo.texto }}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content role="main">
      <div class="pagina">
        <div class="cabecera">
          <div class="cabecera-contenido">
            {{ mensajeBienvenida }}
          </div>
          <button mat-button class="cabecera-cerrar-sesion"
            (click)="onClickCerrarSesion()">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </div>
        <div class="contenido">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>