.contenedor {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.header,
mat-sidenav-container {
    width: 100%;
}

mat-sidenav-container {
    flex-grow: 1;
}

mat-sidenav {
    width: 12em;
    background: maroon;
}
mat-nav-list {
    padding: 0;
}
mat-nav-list * {
    color: white;
}
mat-nav-list mat-icon {
    margin-right: 1em;
}

mat-sidenav-content {
    display: grid;
    grid-template-areas: "a";
    overflow: hidden;
}
.pagina {
    display: flex;
    flex-direction: column;
}
.cabecera {
    flex-grow: 0;
    height: 4em;
    background: maroon;
    display: flex;
}
.cabecera * {
    color: white;
}
.cabecera > * {
    padding: 0;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.cabecera-contenido {
    flex-grow: 1;
    font-size: 1.5rem;
}
.cabecera-cerrar-sesion {
    flex-grow: 0;
    min-width: 5em;
    width: 5em;
    padding-top: 0;
    height: 100%;
}
.cabecera-cerrar-sesion * {
    font-size: 2.25rem;
    margin: 0;
}

.contenido {
    flex-grow: 1;
}