<div class="contenedor">
  <app-cabecera-gestion></app-cabecera-gestion>
  <mat-sidenav-container>
    <mat-sidenav [opened]="isSidenavOpen$ | async" mode="side" role="navigation">
      <mat-nav-list role="navigation-links">
        <a mat-list-item *ngFor="let modulo of modulos; let i = index" (click)="onClickNavegar(i)"
          [class.active]="modulo.activo" [routerLink]="['/gestion', modulo.path]">
          <mat-icon>{{ modulo.icono }}</mat-icon>
          {{ modulo.texto }}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content role="main" class="contenido">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="pie">
    <span>FERME 2019 - Todos los derechos reservados.</span>
  </div>
</div>
