mat-sidenav {
    width: 200px;
    
}
mat-nav-list {
    padding: 0;
}

mat-sidenav-content {
    display: grid;
    grid-auto-rows: 100vh;
    grid-template-areas: "a";
    overflow: hidden;
}
.pagina {   
    grid-area: a;
}