.contenedor, .pie, mat-nav-list>a.mat-list-item {
  display: flex;
}

.contenedor {
  width: 100vw;
  height: 100vh;
  flex: 1 0 1em;
  flex-flow: column nowrap;
}

mat-nav-list * {
  color: white;
}

mat-sidenav-container {
  flex: 1 0 25em;
}

mat-sidenav {
  width: 16em;
  background: maroon;
  border-right: none;
}

mat-nav-list {
  height: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

mat-nav-list>a.mat-list-item {
  font-size: 1.25rem;
  flex-flow: column nowrap;
  justify-content: center;
}

mat-nav-list mat-icon {
  font-size: 2.5rem;
  width: 1.5em;
  height: 1em;
}

mat-nav-list>a.active {
  background: darkred;
  border-top: 1px rgba(255, 255, 255, 0.1) solid;
  border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
}

.contenido {
  overflow-y: auto;
}

.pie {
  flex: 0 0 2em;
  background: #eee;
  border-top: 1px #e0e0e06b solid;
  align-items: center;
  justify-content: center;
}
